<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
    <div ng-if="!ctrl.target.rawQuery">
      <div class="gf-form">
        <label class="gf-form-label width-6 query-keyword">PV</label>
        <input type="text"
          class="gf-form-input max-width-30"
          ng-model="ctrl.target.target"
          spellcheck="false"
          placeholder="PV name"
          ng-blur="ctrl.onChangeInternal()"
          ng-keyup="ctrl.onKeyup($event)"
        />
      </div>
    </div>

    <div ng-if="!ctrl.target.rawQuery">
      <div class="gf-form">
        <label class="gf-form-label width-6 query-keyword">Operator</label>
        <input type="text"
          class="gf-form-input max-width-30"
          ng-model="ctrl.target.operator"
          bs-typeahead="ctrl.getOperators"
          data-min-length="0"
          spellcheck="false"
          placeholder="raw"
          ng-blur="ctrl.onChangeInternal()"
          ng-keyup="ctrl.onKeyup($event)"
        />
      </div>
    </div>

    <div ng-if="!ctrl.target.rawQuery">
      <div class="gf-form">
        <label class="gf-form-label width-6 query-keyword">Alias</label>
        <input type="text"
          class="gf-form-input max-width-30"
          ng-model="ctrl.target.alias"
          spellcheck="false"
          placeholder="Alias"
          ng-blur="ctrl.onChangeInternal()"
          ng-keyup="ctrl.onKeyup($event)"
        />
      </div>
    </div>

    <div class="gf-form-inline">
    <div class="gf-form" ng-if="ctrl.target.rawQuery">
      <textarea class="gf-form-input" rows="5" ng-model="ctrl.target.target" spellcheck="false" ng-blur="ctrl.onChangeInternal()" />
    </div>

    <div class="gf-form gf-form--grow">
      <div class="gf-form-label gf-form-label--grow"></div>
    </div>
  </div>
</query-editor-row>
